[Unit]
Description=Run Market Signal Monitor daily

[Timer]
OnCalendar=*-*-* 07:50:00 Asia/Shanghai
RandomizedDelaySec=20m
AccuracySec=1s
Persistent=true
Unit=market-signal-monitor.service

[Install]
WantedBy=timers.target
